$tablet: 1000px;
$mobile: 500px;

body {
    font-family: "Source Sans Pro", sans-serif;
    margin: 0;
    text-align: center;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
}

*::selection {
    background: #eaeaea;
}

.content {
    width: 100vw;
    margin: auto;
}

.header {
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 60px;

    width: 50vw;

    margin: auto;

    @media screen and (max-width: $tablet) {
        width: 70vw;
    }
    @media screen and (max-width: $mobile) {
        width: 90vw;
    }
}

.desc {
        line-height: 160%;
    }

h2 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.spacer {
    width: 20vw;
    height: 100px;

    @media screen and (max-width: $tablet) {
        height: 75px;
}
}

.p:nth-child(odd) {
    background-color: #eaeaea;
}

.p {
    box-sizing: border-box;
    padding: 75px;
    padding-left: 150px;
    padding-right: 150px;

    @media screen and (max-width: $tablet) {
        padding-left: 50px;
        padding-right: 50px;
    }
    @media screen and (max-width: $mobile) {
        padding-left: 40px;
        padding-right: 40px;
    }

    .p-header {
        text-align: center;
        margin: auto;
        .p-title {
            font-family: "Archivo Narrow", sans-serif;
            font-size: 2.5rem;
            @media screen and (max-width: $tablet) {
                font-size: 2.25rem;
            }
        }
        .p-artist {
            font-family: "Archivo Narrow", sans-serif;
            font-size: 1.5rem;
            color: gray;
            @media screen and (max-width: $tablet) {
                font-size: 1.25rem;
            }
        }
    }

    .p-content {
        margin-top: 50px;
        margin-bottom: 40px;

        .p-left,
        .p-right {
            display: inline-block;
            width: 49%;
            margin: auto;

            @media screen and (max-width: $tablet) {
                width: 100%;
            }
        }
        .p-left {
            text-align: left;
            box-sizing: border-box;
            padding-right: 50px;
            @media screen and (max-width: $tablet) {
                margin-bottom: 50px;
                padding-right: 0;
            }
            .p-text {
                line-height: 175%;
                font-size: 1rem;
            }
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                margin-right: 30px;
                margin-bottom: 5px;
                float: left;
            }
        }
        .p-right {
            vertical-align: top;
            img {
                width: 95%;
                margin: auto;
                border-radius: 3px;
            }
        }
    }

    button {
        font-family: "Source Sans Pro", sans-serif;
        outline: none;
        padding: 15px 60px;

        border: none;
        background-color: gray;

        color: white;

        border-radius: 3px;

        font-size: 1.1rem;

        cursor: pointer;

        transition: opacity 0.1s;

        &:hover {
            opacity: 0.8;
        }
    }
}

.footer {
    width: 100%;
    margin: 50px auto;

    a {
        text-decoration: none;
    }
    img {
        width: 30px;
        height: 30px;
        margin: auto 6px;

        cursor: pointer;

        transition: opacity 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }

    .attr {
        margin-top: 20px;
        text-align: center;

        a {
            text-decoration: underline;
            color: rgb(84, 84, 138);
        }
    }
}

@media screen and (max-width: $tablet) {
    iframe {
        width: 91vw;
        height: 52vw;
    }
}
